# FastAPI & Server
fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.12

# MongoDB & ODM
motor==3.6.0
beanie==1.28.0
pymongo>=4.9,<4.10

# Authentication
python-jose[cryptography]==3.3.0ß
passlib[bcrypt]==1.7.4
python-dateutil==2.9.0

# Telegram Bot
python-telegram-bot==21.7

# Pydantic & Validation
pydantic==1.10.8
email-validator==2.2.0
typing-extensions==4.5.0

# Utilities
python-dotenv==1.0.1

# Serverless
mangum==0.17.0
